amqp==5.1.1
asgiref==3.2.10
beautifulsoup4==4.11.1
billiard==3.6.4.0
celery==5.2.7
certifi==2022.5.18.1
cffi==1.15.0
charset-normalizer==2.0.12
click==8.1.3
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.2.0
cryptography==37.0.2
defusedxml==0.7.1
dj-database-url==0.5.0
Django==3.1
django-allauth==0.47.0
django-appconf==1.0.5
django-bootstrap4==3.0.1
django-celery-beat==2.2.1
django-ckeditor==6.1.0
django-cors-headers==3.5.0
django-crispy-forms==1.12.0
django-debug-toolbar==2.2
django-filter==21.1
django-formset-js-improved==0.5.0.2
django-heroku==0.3.1
django-jquery-js==3.1.1
django-js-asset==2.0.0
django-static-fontawesome==5.14.0.0
django-storages==1.12.3
django-timezone-field==4.2.3
gunicorn==20.0.4
h11==0.9.0
h2==3.2.0
hpack==3.0.0
hstspreload==2021.8.1
hyperframe==5.2.0
idna==3.3
kombu==5.2.4
oauthlib==3.2.0
Pillow==8.3.1
prompt-toolkit==3.0.29
psycopg2==2.9.3
pycparser==2.21
PyJWT==2.4.0
python-crontab==2.6.0
python-dateutil==2.8.2
python3-openid==3.2.0
pytz==2022.1
requests==2.27.1
requests-oauthlib==1.3.1
six==1.16.0
soupsieve==2.3.2.post1
sqlparse==0.4.2
urllib3==1.26.9
vine==5.0.0
wcwidth==0.2.5
whitenoise==5.2.0
